@model IEnumerable<ISSail.Models.AnnualFeeStructure>

@{
    ViewData["Title"] = "List of Annual fees";
}

<h2>List of Annual fees</h2>

<p>
    <a asp-action="Create">Create New Annual Fee Structure</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualFee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnualFee)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Year">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Year">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Year">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
